@page

@using TuneEsportIFv2.Areas.Identity.Data
@using TuneEsportIFv2.Models
@using System.Transactions
@inject SignInManager<TuneEsportIfv2User> SignInManager
@inject UserManager<TuneEsportIfv2User> UserManager

@model TuneEsportIFv2.Pages.Members.MembersModel



@{
    ViewBag.Title = "All Members";
}

<h1>All Users</h1>




<table class="table">
    >
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Nick
            </th>
            <th>
                Team
            </th>
            <th>
                Union
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in UserManager.Users)
        {
            <tr>
                <td>
                    <div class="card mb-3">@Html.DisplayFor(modelItem => item.Name)</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nick)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClubName)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}