@page
@model TuneEsportIFv2.Pages.Infos.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Info.profilPicture" class="control-label"></label>
                <input asp-for="Info.profilPicture" class="form-control" />
                <span asp-validation-for="Info.profilPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info.description" class="control-label"></label>
                <input asp-for="Info.description" class="form-control" />
                <span asp-validation-for="Info.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info.rank" class="control-label"></label>
                <input asp-for="Info.rank" class="form-control" />
                <span asp-validation-for="Info.rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info.team" class="control-label"></label>
                <input asp-for="Info.team" class="form-control" />
                <span asp-validation-for="Info.team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info.union" class="control-label"></label>
                <input asp-for="Info.union" class="form-control" />
                <span asp-validation-for="Info.union" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info.nick" class="control-label"></label>
                <input asp-for="Info.nick" class="form-control" />
                <span asp-validation-for="Info.nick" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
