@page
@using TuneEsportIFv2.Areas.Identity.Data
@using TuneEsportIFv2.Models
@using TuneEsportIFv2.Services.Interfaces
@model TuneEsportIFv2.Pages.Scoreboard.CreateModel
@inject UserManager<TuneEsportIfv2User> UserManager
@inject SignInManager<TuneEsportIfv2User> signInManager

@{ ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml"; }


<h1>Create</h1>

<h4>ScoreBoard</h4>
<hr />

@*aleks add
@foreach (var item in AspNetRoleManager<IdentityUserRole<userId>>)
{
    item.TuneEsportIfv2User == userManager.GetUserId(User)
}*@

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ScoreBoard.mapsName" class="form-control"></label>
                <select asp-for="ScoreBoard.mapsName">
                    @foreach (var item in Model.Maps)
                    {
                        <option value="@item.mapsName">@item.mapsName </option>
                    }
                </select>
                <span asp-validation-for="ScoreBoard.mapsName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ScoreBoard.EconomyKnowledge" class="control-label"></label>
                <input asp-for="ScoreBoard.EconomyKnowledge" class="form-control" />
                <span asp-validation-for="ScoreBoard.EconomyKnowledge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreBoard.Smokes" class="control-label"></label>
                <input asp-for="ScoreBoard.Smokes" class="form-control" />
                <span asp-validation-for="ScoreBoard.Smokes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreBoard.Tactics" class="control-label"></label>
                <input asp-for="ScoreBoard.Tactics" class="form-control" />
                <span asp-validation-for="ScoreBoard.Tactics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreBoard.mapKnowledge" class="control-label"></label>
                <input asp-for="ScoreBoard.mapKnowledge" class="form-control" />
                <span asp-validation-for="ScoreBoard.mapKnowledge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
