@page
@model TuneEsportIFv2.Pages.Maps.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Map</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Map.mapsName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Map.mapsName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Map.infernoStats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Map.infernoStats)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Map.mapsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
